:root {
  --color-teriyaki: hsla(22, 88%, 52%, 1);
  --color-tangerine: hsla(22, 100%, 69%, 1);
  --color-dark-blue: hsla(220, 51%, 17%, 1);
  --color-light-blue: hsla(220, 23%, 58%, 1);
  --color-gray: hsla(198, 28%, 93%, 1);
  --color-white: hsl(0, 0%, 100%);
  --font-primary: "Barlow", sans-serif;
  --font-author: "Grape Nuts", cursive; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 23em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--color-light-blue);
  overflow-x: hidden; }

.mg-l {
  margin-bottom: 4rem; }

.mg-m {
  margin-bottom: 2.7rem; }

.mg-s {
  margin-bottom: 2.4rem; }

.mg-right {
  margin-right: 1.3rem; }

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 1.6rem 2.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
  transition: all 0.5s; }
  @media only screen and (max-width: 62.5em) {
    .btn {
      padding: 1rem 1.2rem; } }
  .btn:active {
    transform: scale(0.95); }
  .btn--color {
    background: var(--color-teriyaki);
    color: var(--color-white); }
    .btn--color:hover, .btn--color:focus {
      background: var(--color-tangerine); }
  .btn--grey {
    background: var(--color-gray);
    color: var(--color-dark-blue); }
    .btn--grey:hover, .btn--grey:focus {
      background: var(--color-dark-blue);
      color: var(--color-white); }
  .btn--invisible {
    background: none;
    color: var(--color-light-blue); }

.container {
  display: grid;
  grid-template-rows: 17rem min-content 8vw min-content 5vw 10.4rem;
  grid-template-columns: [full-start] minmax(3%, 1fr) [center-start] minmax(min-content, 111rem) [center-end] minmax(3%, 1fr) [full-end];
  grid-gap: 3vw; }

.header {
  grid-row: 1;
  grid-column: center-start / center-end; }

.hero {
  grid-row: 2;
  grid-column: full-start / full-end; }

.features {
  grid-row: 4;
  grid-column: center-start / center-end; }

.footer {
  grid-row: 6;
  grid-column: center-start / center-end;
  align-self: center; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero {
  display: grid;
  grid-template-columns: minmax(3%, 1fr) repeat(4, minmax(12rem, 24.4rem)) minmax(3%, 1fr);
  grid-gap: 3vw; }
  @media only screen and (max-width: 62.5em) {
    .hero {
      grid-template-columns: minmax(3%, 1fr) repeat(5, minmax(10rem, 25.5rem)) minmax(3%, 1fr); } }
  @media only screen and (max-width: 37em) {
    .hero {
      grid-template-columns: 3% 1.5fr 3fr 3%; } }
  .hero__head {
    grid-column: 2 / span 2;
    padding-top: 6rem;
    max-width: 44.5rem; }
    .hero__head h1 {
      font-weight: 900;
      color: var(--color-dark-blue);
      text-transform: uppercase;
      font-size: 5.6rem;
      line-height: 5.6rem; }
      @media only screen and (max-width: 23em) {
        .hero__head h1 {
          font-size: 4rem; } }
    .hero__head p {
      font-size: 1.8rem;
      max-width: 90%; }
      @media only screen and (max-width: 37em) {
        .hero__head p {
          max-width: 100%; } }
    .hero__head .buttons {
      display: flex;
      gap: 2rem; }
      @media only screen and (max-width: 23em) {
        .hero__head .buttons {
          flex-direction: column;
          align-items: flex-start; } }
    @media only screen and (max-width: 62.5em) {
      .hero__head {
        grid-column: 2 / span 3; } }
    @media only screen and (max-width: 37em) {
      .hero__head {
        grid-column: 2 / span 2;
        padding-top: 0;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 23em) {
      .hero__head {
        grid-column: 2 / span 3; } }
  .hero__img--1 {
    grid-column: 4 / span 2;
    height: 48rem;
    border-radius: 2rem;
    background-image: url(../assets/desktop/image-keyboard.jpg);
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 62.5em) {
      .hero__img--1 {
        grid-column: 5 / -1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; } }
    @media only screen and (max-width: 50em) {
      .hero__img--1 {
        background-image: url(../assets/tablet/image-keyboard.jpg); } }
    @media only screen and (max-width: 37em) {
      .hero__img--1 {
        background-image: url(../assets/mobile/image-keyboard.jpg);
        grid-column: 2 / -1;
        grid-row: 2; } }
    @media only screen and (max-width: 23em) {
      .hero__img--1 {
        height: 33rem; } }
  .hero__img--2 {
    grid-column: 2;
    height: 48rem;
    border-radius: 2rem;
    background: url(../assets/desktop/image-phone-and-keyboard.jpg) #f26818;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center; }
    @media only screen and (max-width: 62.5em) {
      .hero__img--2 {
        grid-column: 2 / span 2;
        height: 36rem; } }
    @media only screen and (max-width: 50em) {
      .hero__img--2 {
        background-image: url(../assets/tablet/image-phone-and-keyboard.jpg); } }
    @media only screen and (max-width: 37em) {
      .hero__img--2 {
        background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
        grid-column: 1 / span 2;
        grid-row: 3;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }
    @media only screen and (max-width: 23em) {
      .hero__img--2 {
        height: 19.3rem; } }
  .hero__img--3 {
    grid-column: 3 / span 2;
    height: 48rem;
    max-width: 44.5rem;
    border-radius: 2rem;
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 62.5em) {
      .hero__img--3 {
        grid-column: 4 / span 3;
        max-width: 100%;
        height: 36rem; } }
    @media only screen and (max-width: 50em) {
      .hero__img--3 {
        background-image: url(../assets/tablet/image-glass-and-keyboard.jpg); } }
    @media only screen and (max-width: 37em) {
      .hero__img--3 {
        background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
        grid-column: 3;
        grid-row: 3; } }
    @media only screen and (max-width: 23em) {
      .hero__img--3 {
        height: 19.3rem; } }
  .hero__pattern--1 {
    grid-column: 6;
    max-width: 25.5rem;
    height: 24rem;
    background-image: url(../assets/shared/pattern-square.svg);
    background-size: cover; }
    @media only screen and (max-width: 62.5em) {
      .hero__pattern--1 {
        display: none; } }
  .hero__pattern--2 {
    grid-column: 1;
    width: 25.5rem;
    height: 24rem;
    justify-self: end;
    background-image: url(../assets/shared/pattern-square.svg);
    background-size: cover; }
    @media only screen and (max-width: 62.5em) {
      .hero__pattern--2 {
        display: none; } }
  .hero__end {
    grid-column: 5;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2.7rem; }
    .hero__end h2 {
      font-weight: 900;
      color: var(--color-dark-blue);
      text-transform: uppercase;
      font-size: 3.2rem;
      line-height: 3.6rem; }
    .hero__end p {
      max-width: 45rem; }
    @media only screen and (max-width: 62.5em) {
      .hero__end {
        grid-column: 2 / span 5;
        grid-row: 3;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 4.2rem; } }
    @media only screen and (max-width: 37em) {
      .hero__end {
        grid-column: 2 / span 2;
        grid-row: 4;
        flex-direction: column;
        text-align: center; } }

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  align-items: start;
  justify-items: start; }
  @media only screen and (max-width: 62.5em) {
    .features {
      gap: 6rem; } }
  @media only screen and (max-width: 37em) {
    .features {
      text-align: center; } }
  .features__item {
    display: grid;
    grid-template-rows: 8.9rem 5.6rem min-content;
    gap: 2.4rem; }
    @media only screen and (max-width: 37em) {
      .features__item {
        justify-items: center; } }
  .features__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    width: 6.5rem;
    background: var(--color-teriyaki);
    border-radius: 1.6rem; }
  .features__header {
    font-weight: 900;
    color: var(--color-dark-blue);
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.8rem; }

.footer pre {
  font-family: inherit;
  text-align: center; }

.footer span {
  font-weight: 700; }

.author {
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: end;
  font-family: var(--font-author);
  font-weight: 900;
  font-size: 1.8rem; }
  .author a {
    color: var(--color-teriyaki); }
  @media only screen and (max-width: 37em) {
    .author {
      text-align: center;
      margin-right: 0; } }
