.container {
  display: grid;
  grid-template-rows: 17rem min-content 8vw min-content 5vw 10.4rem;
  grid-template-columns:
    [full-start] minmax(3%, 1fr)
    [center-start] minmax(min-content, 111rem)
    [center-end] minmax(3%, 1fr) [full-end];
  grid-gap: 3vw;
}

.header {
  grid-row: 1;
  grid-column: center-start / center-end;
}

.hero {
  grid-row: 2;
  grid-column: full-start / full-end;
}

.features {
  grid-row: 4;
  grid-column: center-start / center-end;
}

.footer {
  grid-row: 6;
  grid-column: center-start / center-end;
  align-self: center;
}
